body{
font-family: 'Lora', serif;
}

.nav-item{
    letter-spacing : .2em;
    font-size : 14px;
    text_transform : uppercase;

}
.dropdown-item{
    letter-spacing : .2em;
    font-size : 14px;
    text_transform : uppercase;


}


}
.my_footer{
    background-color:#EBDEF0;
    height:60px;
}
.my_footer p{
    padding-top :20px;
    font-size:14px;
}
/***Category ***/
.my_row_class{
    padding-top :15px;
    }
.my_row_class .mx_auto{
    color :#000;
    font-size :12px;
}
.my_image{
    width :100%;
    height :auto;
}
.my_title{
    font-size :20px;
    font_transform :uppercase;
    letter-spacing :.2em;
}
.my_image_padding{
    padding :5px;

}
.my_bottom_margin{
    margin-bottom:10px;
}
.card-body h3{
    font-size:14px;
    text_transform:uppercase;
    letter-spacing:.2em;
}
/*** product page ***/
.my_prod_row_class{
    padding-top :15px;
    padding-bottom:20px;
}
.my_prod_row_class .mx-auto{
    color:#000;
    font-size:12px;
    text-decoration:none;

}
.my_prod_title{
    font-size:23;
    text_transform:uppercase;
    letter-spacing:.2em;
    padding-top:15px;
    padding-bottom:10px;
}
.my_prod_text{
    padding-right:20px;
}
.my_search_text{
    padding-top:20px;
}
/*** cart page ***/
.my_custom_table{
    min-width:300px;
    font-size:15px;
}
.my_custom_thead{
    font-weight:normal;
    text_transform:uppercase;
    letter-spacing:.2em;
    background-color:purple;
}
.custom_a{
    text-decoration:none;
    }
.custom_icon{
    text-decoration:none;
    color:#868e96 !important;
   }
.custom_button{
    margin-top:7px;
}